/* Global Styles */
h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: 'Poppins';
}
h1, h2, h3 {
    font-weight: 700;
}
a, h4, h5, h6 {
    font-weight: 600;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    line-height: 45px;
}
h2 {
    font-size:  35px;
    line-height: 30px;
}
h3 {
    font-size: 30px;
    line-height: 25px;
}
h4, h5, h6 {
    font-size: 25px;
    line-height: 20px;
}
p, li {
    font-size: 20px;
    line-height: 25px;
}
a, span {
    font-size: 15px;
    line-height: 20px;
}
html {
    scroll-behavior: smooth;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 115px 40px 40px;
}
.header .navigation {
    display: flex;
    gap: 30px;
}
.header .navigation a {
    font-weight: 600;
    color: white;
}
.header > a span {
    font-size: 30px;
    line-height: 35px;
    font-weight: 800;
    color: white;
}

m-width { 
    max-width: 1200px;
    margin: 0 auto;
}
.menu-icon {
    display: none;
}
.language {
    position: absolute;
    right: 40px;
    background: transparent;
    padding: 2px 2px;
    border-radius: 5px;
    border-color: white;
    font-family: Poppins;
    font-weight: 500;
    color: white;
    font-size: 15px;
}
@media (max-width: 870px) {
    .header .navigation {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: rgba(0,0,0, 0.5);
    }

    .header .navigation.active {
        position: absolute;
        display: flex;
        top:115px;
        left: 0;
        padding: 20px;
        gap: 0;
    }
    .header .navigation a:first-child {
        border: 0;
    }
    .header .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255,255,255, 0.2);
        padding: 20px 0;
    }

    .menu-icon {
        color: white;
        display: block;
    }
    .menu-icon:hover {
        cursor: pointer;
    }
}


/* Main Content */
.banner {
    margin-top: -137px;
    min-height: calc(100vh - 100px);
    background: url(https://upc-signa.github.io/signa-landing-page/assets/images/signa-img-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%;
    padding-top: 40px;
    display: flex;
    align-items: center;
}
.banner main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 800px;
    margin: 0 auto;
}
.banner main h1 {
    color: white;
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
}
.banner main a {
    padding: 15px 50px;
    border-radius: 7.5px;
    background: #FC5B38;
    color: white;
    font-weight: 600;
    transition: all .4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}
.banner main a:hover {
    background: #da3915;
}
@media (max-width: 768px) {
    .banner main h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .banner main {
        max-width: 600px;
        margin: 0 auto;
    }
}
@media (max-width: 500px) {
    .banner main h1 {
        font-size: 20px;
        line-height: 25px;
    }
}

/* Us Serivce */
.section {
   margin: 60px auto;
   max-width: 850px; 
}
.us {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.us img {
    border-radius: 10px;
    width: 100%;
}
.us p {
    color: #2E2E2E;
    text-align: justify;
}
@media (max-width: 870px) {
    .section {
        max-width: 95%;
        margin: 30px auto;
    }
}


/* How it Works, Benefits Section */
.how-it-works {
    display: flex;
    gap: 5%;
    align-items: center;
}
.how-it-works .content {
    width: 50%;
}
.how-it-works .content p {
    text-align: justify;
    color: #2E2E2E;
}
.how-it-works .content h2 {
    font-weight: 700;
    color: #FC5B38;
}

.how-it-works .image {
    width: 50%;
}
.how-it-works .image img {
    width: 100%;
    border-radius: 10px;
}
@media (max-width: 870px) {
    .section.two {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .how-it-works .image, .how-it-works .content {
        width: 100%;
    }
}


/* Plans and Benefits */
.plans-benefits h2 {
    font-weight: 700;
    color: #FC5B38;
    text-align: center;
}
.plans-benefits .content p {
    text-align: justify;
    color: #2E2E2E;
    margin-bottom: 40px;
}
.plans-benefits .plans {
    display: flex;
    gap: 40px;
}
.plans-benefits .plan {
    border: 1px solid #FC5B38;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.plans-benefits .plan h3 {
    margin: 0;
    margin-bottom: 30px;
    color: #FC5B38;
}
.plans-benefits .plan ul {
    margin-block-start: 0 !important;
    padding-inline-start: 0 !important;
    list-style: none;
    margin-bottom: 40px;
}
.plans-benefits .plan ul li {
    color: #2E2E2E;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}
.plans-benefits .plan ul li:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background: url(https://upc-signa.github.io/signa-landing-page/assets/icons/signa-icon-check.svg);
    background-size: 100%;
    flex-shrink: 0;
    margin-top: 3px;
    background-repeat: no-repeat;
}
.plans-benefits .plan ul li:last-child {
    margin-bottom: 0;
}
.plans-benefits .plan  a {
    padding: 15px 50px;
    border-radius: 7.5px;
    background: #FC5B38;
    color: white;
    font-weight: 600;
    transition: all .4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}
.plans-benefits .plan  a:hover {
    background: #da3915;
}
@media (max-width: 870px) {
    .plans-benefits .plans {
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
}

/* Footer */
footer {
    padding: 20px 10px;
    background: #FC5B38;
}
footer p {
    color: white;
    font-size: 17px;
    list-style: 22px;
    font-weight: 500;
    text-align: center;
    margin: 0;
}


.testimonials {
  text-align: center;
  background-color: #ffffff;
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
}

.testimonials h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #FC5B38;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
}

.testimonial {
  min-width: 100%;
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.5s, transform 0.5s;
}

.testimonial.active {
  opacity: 1;
  transform: scale(1);
}

.testimonial p {
  font-size: 1.2rem;
  color: #555;
  max-width: 600px;
  margin: 0 auto 10px;
}

.testimonial span {
  color: #ffffff;
  font-style: italic;
}

.carousel-controls {
  margin-top: 20px;
}

.carousel-controls button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
  margin: 0 5px;
  transition: background 0.3s;
}

.carousel-controls button:hover {
  background-color: #0056b3;
}

.swiper-pagination {
  display: none !important;
}

